<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Servicios {{roles}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="overlay">
    <ion-item lines="none" class="welcome-label">
      <ion-label> Bienvenido {{nombre}}</ion-label>
    </ion-item>

    <ion-card class="custom-card">
      <!-- Botón Perfil -->
      <ion-item lines="none">
        <ion-button expand="block" color="primary" class="custom-button" (click)="irperfil()">
          <ion-icon name="person-outline" slot="start"></ion-icon>Perfil
        </ion-button>
      </ion-item>

      <!-- Botón Choferes -->
      <ion-item lines="none">
        <ion-button expand="block" color="secondary" class="custom-button" (click)="irchofer()">
          <ion-icon name="car-outline" slot="start"></ion-icon>Conductores
        </ion-button>
      </ion-item>

      <!-- Botón Estudiantes -->
      <ion-item lines="none">
        <ion-button expand="block" color="tertiary" class="custom-button" (click)="irestudiante()">
          <ion-icon name="school-outline" slot="start"></ion-icon>Estudiantes
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-button expand="block" color="primary" class="custom-button" (click)="crearUsuario()">
          <ion-icon name="person-outline" slot="start"></ion-icon>Crear Usuario
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="block" color="tertiary" (click)="irhorarios()">
          <ion-icon name="time-outline" slot="start"></ion-icon>Horarios
        </ion-button>
      </ion-item>
      <!-- Botón Buses -->
      <ion-item lines="none">
        <ion-button expand="block" color="success" class="custom-button" (click)="irbus()">
          <ion-icon name="bus-outline" slot="start"></ion-icon>Buses
        </ion-button>
      </ion-item>

      <!-- Botón Monitoreo Tiempo Real -->
      <ion-item lines="none">
        <ion-button expand="block" color="warning" class="custom-button" (click)="irmonitoreo()">
          <ion-icon name="pulse-outline" slot="start"></ion-icon>Monitoreo tiempo real
        </ion-button>
      </ion-item>
    </ion-card>

    <!-- Botón Cerrar Sesión -->
    <ion-item lines="none" class="logout-button">
      <ion-button expand="block" color="danger" (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>Cerrar Sesión
      </ion-button>
    </ion-item>
  </div>
</ion-content>
