<ion-header>
  <ion-toolbar>
    <ion-title>Administración de Buses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        Crear Bus
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Buses</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table style="width: 100%; border-collapse: collapse;">
        <thead style="background-color: #f4f4f4;">
          <tr>
            <th style="border: 1px solid #ddd; padding: 8px;">Placa</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Marca</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Modelo</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bus of buses">
            <td style="border: 1px solid #ddd; padding: 8px;">{{ bus.placa }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ bus.marca }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ bus.modelo }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">
              <ion-icon name="create" (click)="openModal(bus)" style="cursor: pointer; margin-right: 10px;"></ion-icon>
              <ion-icon name="trash" (click)="deleteBus(bus.codbus)" style="cursor: pointer;"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  <!-- Botón de Volver -->
  <ion-button expand="block" color="warning" (click)="volver()" class="ion-margin-top">
    <ion-icon name="arrow-back-circle-outline" slot="start"></ion-icon>
    Volver
  </ion-button>
</ion-content>
