<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Servicios - Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="overlay">
    <ion-item lines="none" class="welcome-label">
      <ion-label>Bienvenido {{ nombre }}</ion-label>
    </ion-item>

    <ion-card class="custom-card">
      <!-- Solo Monitoreo para Estudiantes -->
      <ion-item lines="none">
        <ion-button expand="block" color="warning" class="custom-button" (click)="irmonitoreo()">
          <ion-icon name="pulse-outline" slot="start"></ion-icon>RUTA BUS EN VIVO
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
